/* RESET */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  
  /* RESET END */

body {
    height: 10000px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, .09fr);
}

main {
  height: 100%;
  grid-row: 2/16;
}

.head-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1/2;
}

.lights {
    height: 100%;
}

h1 {
    position: absolute;
    color: white;
    opacity: 0;
    transition: opacity 1s linear;
    animation: showUp 2s 1;
    text-decoration: none;
}
    
@keyframes showUp {
    from {
      transform: translateY(100px);
    }
    
    to {
      transform: translateY(0px);
    }
}

.info-one {
  background: linear-gradient(109.6deg, rgb(43, 1, 91) 13.4%, rgb(122, 2, 54) 100.2%);
  opacity: 0;
  transition: opacity 1s linear;
  object-fit: cover;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(12, .09fr);
  }

.info-text1 {
  opacity: 0;
  transition: opacity 1s linear;
  animation: textAppear 1s 1;
  align-self: center;
  justify-self: center;
  color: white;
  grid-row: 1/2;
  grid-column: 1/2;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.info-text2 {
  opacity: 0;
  transition: opacity 1s linear;
  animation: textAppear 1s 1;
  align-self: center;
  justify-self: center;
  color: white;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  text-align: center;
  grid-column: 1/2;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  text-align: center;
  }

  @keyframes textAppear {
    from {
      transform: translateY(100px);
    }
    
    to {
      transform: translateY(0px);
    }
    }