/* RESET */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* RESET END */

body {
  height: 10000px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, .09fr);
}

main {
height: 100%;
grid-row: 2/16;
}

.activate {
  /* opacity: 0;
  transition: opacity 2s linear; */
  grid-row: 1/2;
  grid-column: 1/2;
  justify-self: center;
  position: absolute;
  margin-top: 130%;
  margin-left: 40%;
  height: 45px;
  width: 90px;
  background: none;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
}

.head-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1/2;
}

.street {
  height: 100%;
}

h1 {
  position: absolute;
  color: white;
  opacity: 0;
  transition: opacity 1s linear;
  animation: showUp 2s 1;
  text-decoration: none;
}
  
@keyframes showUp {
  from {
    transform: translateY(100px);
  }
  
  to {
    transform: translateY(0px);
  }
}

.info-one {
background: radial-gradient(circle at 10% 20%, rgb(69, 86, 102) 0%, rgb(34, 34, 34) 90%);
opacity: 0;
transition: opacity 1s linear;
object-fit: cover;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(12, .09fr);
}

.info-text1 {
opacity: 0;
transition: opacity 1s linear;
animation: textAppear 1s 1;
align-self: center;
justify-self: center;
color: white;
grid-row: 1/2;
grid-column: 1/2;
font-size: 1.3rem;
display: flex;
align-items: center;
text-align: center;
padding-left: 20px;
padding-right: 20px;
}

.info-text2 {
opacity: 0;
transition: opacity 1s linear;
animation: textAppear 1s 1;
align-self: center;
justify-self: center;
color: white;
grid-row: 2/3;
display: flex;
align-items: center;
text-align: center;
grid-column: 1/2;
font-size: 1.3rem;
display: flex;
align-items: center;
text-align: center;
padding-left: 20px;
padding-right: 20px;
}

@keyframes textAppear {
  from {
    transform: translateY(100px);
  }
  
  to {
    transform: translateY(0px);
  }
  }

  .info-text3 {
    opacity: 0;
    transition: opacity 1s linear;
    animation: textAppear 1s 1;
    align-self: center;
    justify-self: center;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    grid-row: 3/4;
    grid-column: 1/2;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    }

    .info-text4 {
      opacity: 0;
      transition: opacity 1s linear;
      animation: textAppear 1s 1;
      align-self: center;
      justify-self: center;
      color: white;
      display: flex;
      align-items: center;
      text-align: center;
      font-size: 3rem;
      grid-row: 4/5;
      grid-column: 1/2;
      }

.info-text5 {
  opacity: 0;
  transition: opacity 1s linear;
  animation: textAppear 1s 1;
  align-self: center;
  justify-self: center;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 30%;
  grid-row: 5/6;
  grid-column: 1/2;
}

.food-box {
  opacity: 0;
  transition: opacity 2s linear;
  grid-row: 5/6;
  grid-column: 1/2;
  height: 300px;
  width: 300px;
  justify-self: center;
  margin-top: 20%;
}

.food-box.visible {
  opacity: 1;
}

.food {
  height: 100%;
  width: 100%;
}

.info-text6 {
  opacity: 0;
  transition: opacity 2s linear;
  animation: textAppear 1s 1;
  align-self: center;
  justify-self: center;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.3rem;
  grid-row: 6/7;
  grid-column: 1/2;
  padding-left: 20px;
  padding-right: 20px;
}

.food-link {
  opacity: 0;
  transition: opacity 2s linear;
  animation: textAppear 1s 1;
  align-self: center;
  justify-self: center;
  margin-top: 60%;
  grid-row: 6/7;
  grid-column: 1/2;
  color: white;
  font-size: 1.2rem;
  text-decoration: underline;
}

.food-link.visible {
  opacity: 1;
}

.info-text7 {
  opacity: 0;
  transition: opacity 2s linear;
  animation: textAppear 1s 1;
  align-self: center;
  justify-self: center;
  color: white;
  font-size: 3rem;
  grid-row: 7/8;
  grid-column: 1/2;
}

.activity-imgBox {
  opacity: 0;
  transition: opacity 2s linear;
  grid-row: 8/9;
  grid-column: 1/2;
  height: 300px;
  width: 300px;
  justify-self: center;
  margin-top: 20%;
}

.activity-imgBox.visible {
  opacity: 1;
}

.activity-image {
  height: 300px;
  width: 300px;
}

.info-text8 {
  opacity: 0;
  transition: opacity 2s linear;
  animation: textAppear 1s 1;
  grid-row: 8/9;
  grid-column: 1/2;
  align-self: center;
  justify-self: center;
  color: white;
  font-size: 1.5rem;
  margin-top: 30%;
}

.info-text9 {
  opacity: 0;
  transition: opacity 3s linear;
  animation: textAppear 1s 1;
  grid-row: 9/10;
  grid-column: 1/2;
  align-self: center;
  justify-self: center;
  color: white;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.activity-link {
  opacity: 0;
  transition: opacity 2s linear;
  animation: textAppear 1s 1;
  align-self: center;
  justify-self: center;
  margin-top: 80%;
  grid-row: 9/10;
  grid-column: 1/2;
  color: white;
  font-size: 1.2rem;
  text-decoration: underline;
}

.activity-link.visible {
  opacity: 1;
}

.info-text10 {
  opacity: 0;
  transition: opacity 2s linear;
  animation: textAppear 1s 1;
  align-self: center;
  justify-self: center;
  font-size: 3rem;
  grid-row: 10/11;
  grid-column: 1/2;
  color: white;
}

.dinner-box {
  opacity: 0;
  transition: opacity 2s linear;
  grid-row: 11/12;
  grid-column: 1/2;
  height: 300px;
  width: 300px;
  justify-self: center;
  margin-top: 20%;
}

.dinner-box.visible {
  opacity: 1;
}

.dinner-image {
  height: 300px;
  width: 300px;
}

.info-text11 {
  opacity: 0;
  transition: opacity 2s linear;
  animation: textAppear 1s 1;
  grid-row: 11/12;
  grid-column: 1/2;
  align-self: center;
  justify-self: center;
  color: white;
  font-size: 1.5rem;
  margin-top: 30%;
}

.info-text12 {
  opacity: 0;
  transition: opacity 3s linear;
  grid-row: 12/13;
  grid-column: 1/2;
  align-self: center;
  justify-self: center;
  color: white;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.dinner-link {
  opacity: 0;
  transition: opacity 2s linear;
  animation: textAppear 1s 1;
  align-self: center;
  justify-self: center;
  grid-row: 12/13;
  grid-column: 1/2;
  margin-top: 60%;
  color: white;
  font-size: 1.2rem;
  text-decoration: underline;
}

.dinner-link.visible {
  opacity: 1;
}

.return-btn {
  opacity: 0;
  transition: opacity 2s linear;
  animation: textAppear 1s 1;
  height: 45px;
  width: 90px;
  background: none;
  border: 2px solid white;
  color: white;
  grid-row: 12/13;
  grid-column: 1/2;
  align-self: end;
  justify-self: center;
  margin-bottom: 30%;
  border-radius: 15px;
}

.return-btn.visible {
  opacity: 1;
}
